button {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 15px;
  z-index: 1;
}
.gameScreen {
  display: flex;
  position: absolute;
  z-index: -1;
  background-color: lightgreen;
  height: clamp(320px, 50vh, 700px);
  width: 100%;
}
.card-count {
  position: absolute;
  display: flex;
  height: 100%;
  width: 98%;
}
.ai-card-count {
  margin-left: auto;
  margin-top: auto;
}
.player-card-count {
  margin-left: 2%;
  margin-top: 15px;
}
