.gameboard {
  width: 100vw;
  position: absolute;
  margin-top: 10vh;
  z-index: -1;
}
.warzone {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  margin-top: 40px;
  height: 240px;
}
.playerSpace {
  flex: 1;
}
.aiSpace {
  flex: 1;
}

/* GameController Styles */
.welcome-to-war {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: 800;
}

@media screen and (min-width: 481px) {
  .warzone {
    margin-top: 200px;
  }
}
