.warzone {
  display: flex;
  margin-top: clamp(50px, 25%, 300px);
  flex-direction: column;
  align-items: center;
}
.gameboard {
  width: 100vw;
  position: absolute;
  margin-top: 20vh;
  z-index: -1;
}
